:root {
    --primary: #F15543;
}

#check_out_page {
    max-width: 100%;
}

#check_out_page .check_out_bg {
    padding: 73px 0px 85px 0px;
    background-color: #000000;
    min-height: 250px;
    position: relative;
}

.check_out_bg .check_out_overlay {
    position: absolute;
    inset: 0;
    background-image: url(../assets/checkout_bg_05.jpg);
    background-position: 0px -75px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    mix-blend-mode: luminosity;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;

}

#check_out_page .bread_content {
    position: relative;
    z-index: 10;
}

.bread_content h1 {
    font-family: "Inter", Sans-serif;
    font-size: 60px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 62px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 0;
}

#check_out_page .bred_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    color: white;
}

.bred_wrap a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-family: "Inter", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;

}

.bred_wrap .dots {
    position: relative;
    top: 4px;
}

.dots svg {
    width: 8px;
    height: 8px;
    fill: #FFFFFF;
}

#check_out_page .check_out_sec {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 114px 0px 89px 0px;

}

.check_out_sec .check_out_container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.check_out_sec .check_out_frm_wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.9rem;
}

.check_out_frm_wrap .check_out_form h4 {
    font-family: "Inter", Sans-serif;
    font-weight: 600;
    font-size: 18px;
    display: block;
    color: #3A3A3A;
    margin: 0px 0px 14px 0px;
    line-height: 1.333333;
    text-transform: uppercase;
    padding: 0;
    border-width: 0;

}

.check_out_form .fg-group-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
}

.check_out_sec .fg-group {
    margin-bottom: 1rem;
}

.check_out_sec .fg-group label {
    display: inline-block;
    color: #3A3A3A;
    font-size: 15px;
    font-family: "Inter", Sans-serif;
    font-weight: 500;
    margin-bottom: 3px;
}

.check_out_sec .fg-group input {
    color: #555555;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #DFE1E5;
    padding: 15px 16px 14px 16px;
    border-radius: 6px 6px 6px 6px;
    width: 100%;
    font-size: 14px;
    font-family: "Inter", Sans-serif;
    font-weight: 500;
    transition: all .3s;
}

.check_out_sec .fg-group textarea {
    color: #555555;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #DFE1E5;
    padding: 15px 16px 14px 16px;
    border-radius: 6px 6px 6px 6px;
    width: 100%;
    font-size: 14px;
    height: 200px;
}

.check_out_details h4 {
    font-family: "Inter", Sans-serif;
    font-weight: 600;
    font-size: 18px;
    display: block;
    color: #3A3A3A;
    margin: 0px 10px 14px 0px;
    line-height: 1.333333;
    text-transform: uppercase;
    padding: 0;
    border-width: 0;
}


#check_out_page .order_detail_frm {
    background-color: #F7F8FB;
    padding: 30px 30px 0px 30px;
    padding-bottom: 14px;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s, transform .4s;
    margin-bottom: 5px;
}

#check_out_page .payment_order_frm {
    background-color: #F7F8FB;
    padding: 30px 30px 0px 30px;
    padding-bottom: 14px;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s, transform .4s height .9s, opacity, 2s;
}

.order_detail_frm .wrap_org {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px #DCDCDC, 0 3px #FFFF;
    margin-bottom: 1.5rem;
}

.order_detail_frm .wrap_org_sm {
    display: flex;
    justify-content: space-between;

}

.wrap_org h5 {
    font-size: 15px;
    font-weight: 500;
    font-family: Barlow;
    color: #3A3A3A;
    padding-bottom: 5px;
}

.wrap_org .dis_price {
    color: red;
}

.wrap_org_sm h5 {
    font-size: 15px;
    font-weight: 500;
    font-family: Barlow;
    color: #3A3A3A;
    padding-bottom: 5px;
    margin-bottom: 0;
}

.wrap_org_sm .dis_price {
    color: red;
}

.payment_order_frm .py_group {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 1rem;
}

.payment_order_frm .py_group label {
    display: inline-block;
    color: #3A3A3A;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    cursor: pointer;
}

.payment_order_frm .py_group input[type="radio"] {
    position: relative;
    clip-path: none;
    outline: 0;
    visibility: visible;
    top: 0;
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    --webkit-appearance: radio;
    float: left;
    accent-color: #2851F3;
    transform: translateY(1px);
}

.payment_order_frm p {
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;
    color: #979797;
}

.payment_order_frm p a {
    color: #3A3A3A;
    text-decoration: none;
}

.payment_order_frm ._4288_paypal_btn {
    font-family: Barlow;
    padding: 6px;
    width: 100%;
    border: 0;
    background: #ffc439;
    border-radius: 4px;
    margin-bottom: 0.6rem;
    transition: 3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    inset: 0;
}


.payment_order_frm ._active_9892_paypal {
    opacity: 1;
    visibility: visible;
    position: static;
}


.payment_order_frm ._387_debit_pay {
    font-family: Barlow;
    padding: 6px;
    display: inline-block;
    width: 100%;
    border: 0;
    color: #18256C;
    background: #00FFD3;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    inset: 0;
}

.payment_order_frm ._active_8678_debit {
    opacity: 1;
    visibility: visible;
    position: static;
}


.payment_order_frm ._list_payment {
    list-style: none;
    padding-left: 0;
}


._list_payment ._paypal_radio_3423 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid var(--primary);
    background-color: #fff;
    position: relative;
    top: 1px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

._list_payment label {
    cursor: pointer;
}

._paypal_radio_3423:checked::after {
    content: '';
    position: absolute;
    top: 2.7px;
    left: 2.7px;
    padding-left: 4px;
    padding-right: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--primary);
}



@media screen and (max-width:999px) {
    .check_out_sec .check_out_container {
        max-width: 100%;
    }

    .check_out_sec .check_out_frm_wrap {
        grid-template-columns: 1fr;
    }

    .check_out_frm_wrap .check_out_form {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 2.1rem;
    }

    .check_out_form .fg-group-wrap {
        grid-template-columns: 1fr;
    }

    .check_out_sec .check_out_details {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}